/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;

    .main {
        height: 5rem;
       

        .content {
            width: 100%;

            .banner {

                width: 100%;
                display: flex;
                justify-content: space-around;
                background: linear-gradient(90deg, #887550, #a78b55);
                align-items: center;

                .textologo {
                    text-align: center;

                    h1 {
                        font-family: 'Playfair Display', serif;
                        font-size: 60px;
                        color: #D4AF37;
                        /* Dorado antiguo */
                        letter-spacing: 4px;
                        margin-bottom: 20px;
                    }
                }

                .carrito {
                    position: relative;

                    span:first-child {
                        font-size: large;
                        font-weight: 700;
                        position: absolute;
                        left: .75rem;
                        right: auto;
                        top: -.75rem;
                    }

                    span:last-child {
                        gap: 1rem;
                        display: flex;
                        align-items: center;
                        font-size: x-large;
                        font-weight: 600;

                        i.fi {
                            font-size: 2rem;
                            color: rgb(17, 214, 60);
                        }
                    }


                }
            }
        }
    }
}

.contentview {
    padding: 2rem;
    display: grid;
    grid-template-columns: 20% 80%;

    .lateralview {

        width: 100%;

        .filters {
            display: flex;
            flex-direction: column;
            height: calc(100vh - 5rem);
        }

        .filters>* {}
    }

    .cardgroup {

        .card {
            padding: 1rem;

            .card-body {
                .card-text {
                    height: 5.75rem;
                    overflow: auto;
                    scrollbar-width: none;
                }
            }
        }
    }
}


// Seleccionado

.detalle-card{
    position: absolute;
    top: 7rem;
    background-color: #a78b55;
    padding: 2rem;
    img{
        width: 100%;
    }
}