/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(218, 203, 184);

    .main {
        height: 6rem;


        .content {
            width: 100%;
            position: fixed;
            z-index: 1;

            .banner {

                width: 100%;
                display: flex;
                justify-content: space-around;
                background: linear-gradient(90deg, #887550, #a78b55);
                align-items: center;

                .textologo {
                    text-align: center;

                    h1 {
                        font-family: 'Playfair Display', serif;
                        font-size: 60px;
                        color: #D4AF37;
                        /* Dorado antiguo */
                        letter-spacing: 4px;
                        margin-bottom: 20px;
                    }
                }

                .carrito {
                    position: relative;

                    span:first-child {
                        font-size: large;
                        font-weight: 700;
                        position: absolute;
                        left: .75rem;
                        right: auto;
                        top: -.75rem;
                    }

                    span:last-child {
                        gap: 1rem;
                        display: flex;
                        align-items: center;
                        font-size: x-large;
                        font-weight: 600;

                        a {
                            text-decoration: none;
                        }

                        i.fi {
                            font-size: 2rem;
                            color: rgb(17, 214, 60);
                        }
                    }


                }
            }
        }
    }
}

.contentview {
    padding: 2rem;
    display: grid;
    grid-template-columns: 20% 80%;

    .lateralview {

        width: 100%;

        .filters {
            display: flex;
            flex-direction: column;
            height: calc(100vh - 5rem);
        }

        .filters>* {}
    }

    .cardgroup {

        .card {
            padding: 1rem;
            min-height: 21rem;

            img {
                height: 11rem;
            }

            .card-body {
                .card-text {
                    height: 5.75rem;
                    overflow: auto;
                    scrollbar-width: none;
                }
            }
        }
    }
}


// Seleccionado

.detalle-card {
    position: fixed;
    top: 5rem;
    background-color: #ccc4b7;
    padding: 2rem;
    height: calc(100% - 5rem);
    display: grid;

    h2 {
        text-align: center;
        margin: auto;
        width: 50%;
    }

    .contentDetail {
        display: grid;
        grid-template-columns: 60% 30%;
        justify-content: space-around;
        padding: 2rem;

        img {
            width: 80%;
            display: flex;
            margin: auto;
        }

        >button {
            width: 50%;
            margin: 1rem auto;
        }
    }

}


// Carrito

.cart-container {
    position: absolute;
    top: 7rem;
    width: 100%;
    padding: 2rem;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .cart-item {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .cart-item-details {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        .cart-item-image {
            width: 50%;
        }
    }
}


/* Tablets (iPad) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {}

    .contentview {
        padding: 20px;
        display: grid;

        .card {
            height: 100%;

            img {
                height: 10rem;
            }
        }
    }
}


/* Smartphones */
@media only screen and (max-width: 767px) {
    body {
        background-color: lightblue;

        .banner {
            .textologo {
                display: none;
            }

            .carrito {
                span:first-child {
                    display: block !important;
                }

                span {
                    display: inline-block;
                    /* mantiene el span en línea */
                }

                span i {
                    display: inline;
                    /* muestra los iconos */
                }

                span:last-child {
                    color: transparent;
                    /* oculta el texto dentro del span */
                }

                span i {
                    color: inherit;
                    /* mantiene visible el icono */
                }
            }

        }

        .contentview {
            display: block;
            padding: 0;

            .lateralview {
                display: none;
            }

            .cardgroup {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .col {
                    justify-content: center;
                    display: flex;

                    .card {
                        width: 100%;
                        max-width: 18.75rem;
                        margin: .625rem;

                        img {
                            height: 8rem
                        }
                    }
                }


            }
        }
    }

    .detalle-card {
        position: fixed;
        top: 5rem;
        background-color: #ccc4b7;
        padding: 1rem;

        button {
            display: flex;
            justify-content: center;
            margin: auto;
        }

        h2 {
            text-align: center;
            font-size: 1.5rem;
        }

        .contentDetail {
            display: block;

            img {

                display: block;
                margin: auto;
            }
        }
    }

    .content {
        padding: .625rem;
    }
}